<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bike-delta-heading">Create or edit a Bike Delta</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stationID">Station ID</label>
                    <input type="number" class="form-control" name="stationID" id="field_stationID"
                           formControlName="stationID"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_minute">Minute</label>
                    <input type="number" class="form-control" name="minute" id="field_minute"
                           formControlName="minute"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_weekday">Weekday</label>
                    <input type="checkbox" class="form-control" name="weekday" id="field_weekday"
                           formControlName="weekday"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_deltaValue">Delta Value</label>
                    <input type="number" class="form-control" name="deltaValue" id="field_deltaValue"
                           formControlName="deltaValue"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
